@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Fuzzy+Bubbles:wght@400;700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tillana:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --softpink: #e4c3bd;
    --nav: #b29d1c;
    --wine: #643f38;
    --black: rgb(38, 33, 33);
    --main: #f3f7ca;
    --white: #fff;
    --text: #3b290d;

}

body {
    min-height: 100vh;
    background-color: var(--main);
}

nav {
    background-color: var(--nav);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
}

#menu-toggle {
    display: none; /* Hide by default on larger screens */
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--black);
    margin: 3px 50px;
    transition: 0.4s;
}
  
.mainMenu {
    display: flex;
    list-style-type: none;
    padding: 0;
}
  
.mainMenu li {
    margin-right: 15px;
}
  
.mainMenu li a {
    text-decoration: none;
    color: var(--text);
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Edu NSW ACT Foundation' ,'Courier New', Courier, monospace;
}
  
@media screen and (max-width: 768px) {
    #menu-toggle {
      display: flex; /* Show on smaller screens */
    }
    
    .mainMenu {
      display: none; /* Hide menu items by default on smaller screens */
      flex-direction: column;
      position: relative;
      top: 0px;
      left: 15px;
      align-items: center;
      background-color: var(--);
      width: 100%;
      font-size: 1.5rem;
    }
  
    .mainMenu.show {
      display: flex; /* Show menu items when menu is toggled */
    }
  
    .mainMenu li {
      margin: 10px 0;
    }

    .logo {
        display: none;
    }
    
  }

.foto {
    /*width: 100%;
    height: auto;*/
    max-width: 30%;
    height: auto;
}

.hero-btn {
    /*position: absolute;
    top: 30px;
    left: 30px;*/
    font-size: 30px;
    background-color: #b29d1c;
    padding: 20px;
    border-radius: 15px;
    color: var(--text);
    text-decoration: none;
    margin: 12px;
    font-family: 'Fuzzy Bubbles' ,'Courier New', Courier, monospace;
}

.hero-btn:hover {
    border: 1px solid black;
    background: linear-gradient(#b29d1c, #8e741a);
    transition: 1s;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Fuzzy Bubbles','Courier New', Courier, monospace;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: var(--white);
    width: 270px;
    height: 250px;
    margin: 10px;
    border-radius: 10px;
}

.card-image {
    height: 150px;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
}

.card h2 {
    padding: 10px;
    text-align: center;
}

.sky-background {
    /*width: 100%;*/
    height: 400px; /* Adjust height as needed */
    background: linear-gradient(to bottom, #ecfaff, #b2ecff); /* Sky blue gradient */
    margin: 20px;
    border-radius: 8px;

    /*position: relative;*/
  }
.wheater {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.8); /* White with transparency */
    padding: 20px;
    border-radius: 8px;
    z-index: 1; /* Place above .sky-background */
    text-align: center;
    /*box-shadow: 0 15px 15px rgba(0, 0, 0, 0.342);*/
}



.close-btn {
    cursor: pointer;
    padding-left: 20px;
}

h3 {
    padding: 20px;
    font-family: 'Fuzzy Bubbles',Verdana, Geneva, Tahoma, sans-serif;
}

p {
    padding: 5px;
    font-family: 'Tillana', 'Courier New', Courier, monospace;
}

#current-humidity {
    padding-bottom: 10px;
}

.message-container {
    padding: 10px;
    width: auto;
    text-align: center;
    font-size: larger;
    background-color: var(--white);
    font-family: 'Edu NSW ACT Foundation' ,'Courier New', Courier, monospace;
}

/* Social Media Links*/
.social {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social .list {
    /*margin-bottom: 10px;*/
    display: inline-block;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-icon {
    color: var(--wine);
}

.social-icon:hover {
    color: black;
}

footer {
    background-color: var(--nav);
    font-size: 1.5rem;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social .social-icon {
    display: block;
}

.rental-heading {
    color: var(--wine);
    text-align: center;
}

table {
    width: 80%;
    margin: 30px auto;
    background-color: var(--white);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:first-child th {
    background-color: var(--nav);
    color: black;
}

th {
    font-family: 'Fuzzy Bubbles','Courier New', Courier, monospace;
    color: var(--wine);
}

th, td {
    padding: 5px 13px;
   
}

td {
    text-align: center;
}

/* Form Style */
.rental-form fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.rental-form legend {
    color: var(--wine);
    padding: 0 .5rem;
}

.rental-form label {
    display: block;
    padding-top: 1rem;
    color: var(--text);
    font-size: .9rem;
}

.rental-form div {
    padding-top: 1rem;
    color: var(--wine);
    font-size: .9rem;
}

.rental-form input[type="text"],
.rental-form input[type="tel"],
.rental-form input[type="email"],
.rental-form input[type="date"],
.rental-form select,
.rental-form input[type="number"],
.rental-form textarea{
    background-color: #f6f2f2;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 380px;
    appearance: none;
}

.rental-form input[type="radio"] {
    margin-right: 6px;
}

.rental-form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#b29d1c, #8e741a);
    color: var(--text);
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

.rental-form input:required {
    border-right: solid 8px red;
}

.rental-form input:required:valid {
    border-right: solid 8px green;
}

.thanks {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 380px;
    color: var(--wine);
}

  /* Map container styles */
  .map-container {
    width: 100%;
    margin: 20px;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    height: 300px;
    border: none;
  }

  .contactMethod {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    text-align: center;
  }

  .cont {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }

  .contactIcon {
    font-size: 2rem;
    color: var(--wine);
    width: 60px;
  }

  .contacto-heading {
    font-family:"Fuzzy Bubbles", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--wine);
    padding-left: 15px;
  }

  .contact-heading {
    font-family:"Fuzzy Bubbles", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--wine);
  }

  .map-container {
    border: 2px solid var(--wine);
    border-radius: 8px;
    width: 94%;
  }

@media screen and (min-width:700px) {
    .contacto {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .contactForm {
        grid-column: 1 / span 2; /* Align to the left column */
      }

    .formulario {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

/* Rental images*/
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.section-img {
    margin: 0.25rem;
    padding: 0.65rem;
    /*border: 1px solid var(--wine);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    /*background-color: #f9f7f7;*/
}

.my-h4 {
    margin: 0;
    padding: 10px;
    color: var(--wine);
}

.my-img {
    width: auto;
    max-width: 320px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid var(--wine);
    border-radius: 6px;
}

/* Agreement*/
.agreement {
    max-width: 300px;
    height: 500px;
    background-color: #f7f2f2;
    color: var(--wine);
    padding: 40px 30px;
    border-radius: 8px;
    margin: 20px auto; /*10px;*/
    border: 1px solid var(--wine);

}

.text-term {
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
}

.text-term h2 {
    text-transform: uppercase;
}

.text-term span {
    font-weight: bold;
}

.btn-agreement {
    padding: 20px 20px;
}

.btn-agree {
    width: 100px;
    padding: 10px;
    font-size: 20px;
}

.text-head {
    padding: 10px;
}

