@media (min-width: 40em){
    #menu {
        display: none;
    }

    .second-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .spotlights {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}