@media (min-width: 40em){
    #menu {
        display: none;
    }

    .second-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .spotlights {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    img {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    /* form W08*/
    .radio-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content:space-around;
        margin-left: 50px;
        margin-right: 80px;
        column-gap: 20px;
    
    }
}

@media (min-width: 600px) {
    .picture:hover {
        /*filter: brightness(70%);
        transition: filter 0.5s ease;*/
        transform: scale(0.9);
    }
}