@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poiret+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;

}

main, .google-map{
    background-color: #f4f2f2 ;
}

.logo-box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

.pic-profile{
    background-color: #5D4954;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.img{
    float: left;
    max-width: 8rem;/*20%;*/
    height: auto;
    margin-right: 20px;
    /*box-shadow: 3px 3px 3px #ccc;*/
    box-shadow: 0px -8px 20px #ccc;
    border-radius: 20px;
}

.nav {
    background-color: rgb(200, 162, 162);
}

.nav-list {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}
.nav-list li {
	display: none;
}
.nav-list a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: 18px;
    font-family: 'Indie Flower','Lucida Sans', 'Lucida Sans Regular';
    left: 5px;
}
.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
@media only screen and (min-width: 40em) {
	.nav-list {
		display: flex;
	}
	.nav-list li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.nav-list a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}

li a:hover {
    background-color: #da6c54;
}
h1{
    color: white;
    font-family:'Indie Flower', sans-serif;
    padding-right: 50px;
    letter-spacing: 5px;
}

ul{
    list-style-type: none;
}
.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;

    border: 2px solid grey;
    border-radius: 10px;
    margin: 10px;
   
}
.card ul{
    padding-left: 10px;
}
h3{
    color: aliceblue;
    background-color:#5D4954;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0%;
    text-align: center;
    padding: 10px;
    font-family: 'Poiret One';
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
.card ul li {
    font-size: 18px ;
}
.card ul li a:hover {
    background-color: beige;
}
p, h2{
    text-align: center;
}
h2{
    font-family:'Poiret One', Courier, monospace;
    font-size: 30px;
    padding: 10px;
}
footer{
    background-color:#5D4954;
    color: white;
    margin: 0;
    padding: 25px;
}

/* Responsive Google Map W03 */
.google-map {
    padding-bottom: 50%;
    position: relative;
}
.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    padding: 20px;
}

/* Mobile View */
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: #b2a7a7;
}

#menu::before {
    content: "☰" ;
}

/* Add hero image*/
.hero {
    margin: 0 auto;
    position: relative;
    border: 1px solid #683348;
    padding: 5px;
    /*height: auto;
    width: fit-content;*/
}

.hero img {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}

.herolabel {
    position: absolute;
    top: 25px;
    left: 25px;
    background: radial-gradient(#fff, #907f7f);
    border: 1px solid rgba(0, 0, 0 .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    border-radius: 5px;
    font-family: "Poiret One", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
